*.pyc
*.log
*.log.*
*.dll
*.lib
*.exe
# *.so
*.pid
.DS_Store
/.idea/
/.venv/
/.vscode/
__pycache__
/__pycache__
__pycache__/

*.xlsx#

db.sqlite3
settings_local.py
google-credentials.json
django.mo

/config/
/static/
/media/
credentials/
/local_files/
